@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600;700&display=swap');

body {
  font-family: 'Rubik', sans-serif;
  letter-spacing: 0.4px;
  margin: 0;
  padding: 0;
}

/**
* Create a position for the map
* on the page */
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.map-overlay {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 20px;
  overflow: auto;
  border-radius: 3px;
  /* opacity: 0.5; */
}

#features {
  top: 15px;
  height: 300px;
  margin-top: 20px;
  width: 350px;
  /* position: absolute; */
  /* bottom: 5%; */
  right: 2%;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0px 2px 15px 0px rgb(0 0 0 / 16%);
  display: flex;
  flex-direction: column;
}

#legend {
  top: 325px;
  height: 75px;
  margin-top: 20px;
  width: 350px;
  /* position: absolute; */
  /* bottom: 5%; */
  right: 2%;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0px 2px 15px 0px rgb(0 0 0 / 16%);
}

#features h2 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0;
}

#province-name {
  margin-top: 0;
}

.features-details {
  margin: 0 10px 0 10px;
  text-align: center;
}

.features-head {
  margin-right: 10px;
  margin-left: 10px;
  text-align: center;
}

.features-head h3 {
  margin: inherit;
}

.button-grp {
  cursor: pointer; /* Pointer/hand icon */
  float: left;
}

.button {
  text-decoration: none;
  background-color: white;
  color: black;
  padding: 2px 6px 2px 6px;
  border: 1px solid black;
}

.button:hover, .active {
  color: white;
  background-color: black;
}

#legend {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#legend-title {
  margin-top: 3px;
  margin-bottom: 5px;
  text-align: center;
}

#legend-items {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.legend-key {
  display: inline-block; 
  width: 15px; 
  height: 15px;
}